@charset "UTF-8";
/**
cada vez que queremos que usar sass tenemos que hacer la instalación

npm init
npm install -D node-sass nodemon

van al json
"build-css": "node-sass --include-path scss ./scss/style.scss ./css/style.css",
"watch-css": "nodemon -e scss -x \"npm run build-css\""
 
van a la consola de nuevo y ponen
npm run watch-css

CADA VEZ QUE QUIERAN VOLVER A TRABAJAR SOBRE EL PROYECTO
LO PRIMERO QUE TENGO QUE HACER ANTES DE ESCRIBIR CÓDIGO ES => npm run watch-css
*/
/* segunda instalación
npm init
npm install -g sass
sass --watch rutaSCSS rutaCSS**/
/**partials

base: codigo a nivel general,
reset y fuentes en caso de que se trabaje de manera general

components: Pueden ir componentes especiales como las cards, navbar, bootstrap

layout: van los partials de nuestros bloques de código más grandes: header main footer y sections tambien

utilities: van los partials de variables mixins, maps y funciones
**/
/**siempre tenemos que llamar a los partials de las utilities**/
/*
una variable es un espacio de memoria reservada,
la cual va a alojar un tipo de dato,
y ese dato en ESTE CASO se puede modificar
tipo de datos en formato valor; 
**/
/*variables**/
/* mapas
conjunto de propiedades iguales que podemos
agrupar dentro de una coleccion

creacion

$nombre(
    llave1:valor1,
    llave2:valor2,
);
para llamarla ponemos donde iria el valor 
map-get ($nombre, llave)
**/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**layout**/
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

header h1 {
  font-size: 40px;
  color: yellow; }

/**corresponde a mi barra de navegacion**/
.navbar {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 20px; }

.navbar li a {
  text-decoration: none;
  color: yellow; }

.navbar li a:hover {
  color: #751ed8; }

footer {
  display: flex; }
  footer div {
    width: 300px;
    height: 300px; }
    footer div:nth-child(1) {
      background-color: blue; }
    footer div:nth-child(2) {
      background-color: red; }
    footer div:nth-child(3) {
      background-color: yellow; }

.section-principal {
  width: 100%;
  background-color: lightblue;
  font-size: 20px;
  padding: 30px; }

/**components**/
.card {
  width: 300px;
  height: 350px; }
  .card div {
    width: 100%;
    height: 50%; }
    .card div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
