@charset "UTF-8";
/**
cada vez que queremos que usar sass tenemos que hacer la instalación

npm init
npm install -D node-sass nodemon

van al json
"build-css": "node-sass --include-path scss ./scss/style.scss ./css/style.css",
"watch-css": "nodemon -e scss -x \"npm run build-css\""
 
van a la consola de nuevo y ponen
npm run watch-css

CADA VEZ QUE QUIERAN VOLVER A TRABAJAR SOBRE EL PROYECTO
LO PRIMERO QUE TENGO QUE HACER ANTES DE ESCRIBIR CÓDIGO ES => npm run watch-css
*/
/* segunda instalación
npm init
npm install -g sass
sass --watch rutaSCSS rutaCSS**/
/**partials

base: codigo a nivel general,
reset y fuentes en caso de que se trabaje de manera general

components: Pueden ir componentes especiales como las cards, navbar, bootstrap

layout: van los partials de nuestros bloques de código más grandes: header main footer y sections tambien

utilities: van los partials de variables mixins, maps y funciones
**/
/**siempre tenemos que llamar a los partials de las utilities**/
/*
una variable es un espacio de memoria reservada,
la cual va a alojar un tipo de dato,
y ese dato en ESTE CASO se puede modificar
tipo de datos en formato valor; 
**/
/*variables**/
/* mapas
conjunto de propiedades iguales que podemos
agrupar dentro de una coleccion

creacion

$nombre(
    llave1:valor1,
    llave2:valor2,
);
para llamarla ponemos donde iria el valor 
map-get ($nombre, llave)
**/
/*mixins: es la herramienta más poderosa de sass, 
ya que nos permite crear bloques de codigo
los cuales pueden ser modulares o no.

y nos recuerda mucho a las funciones 
de un lenguaje de programacion.

*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**layout**/
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px; }

header h1 {
  font-size: 40px;
  color: yellow; }

/**corresponde a mi barra de navegacion**/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 25px;
  display: flex;
  list-style: none;
  font-size: 24px; }

.navbar li a {
  text-decoration: none;
  color: yellow; }

.navbar li a:hover {
  color: #751ed8; }

footer {
  display: flex; }
  footer div {
    width: 300px;
    height: 300px; }
    footer div:nth-child(1) {
      background-color: blue; }
    footer div:nth-child(2) {
      background-color: red; }
    footer div:nth-child(3) {
      background-color: yellow; }

.section-principal, .section-dos, .section-tres {
  width: 100%;
  background-color: lightblue;
  font-size: 20px;
  padding: 30px; }

.section-dos, .section-tres {
  background-color: red; }

.section-tres {
  padding: 15px; }

/**components**/
.card {
  width: 300px;
  height: 350px; }
  .card div {
    width: 100%;
    height: 50%; }
    .card div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/**mediaQ*/
@media (max-width: 768px) {
  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    grid-template-areas: "area1 area1 area1" "area2 area2 area2"; } }

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; } }
