/**
cada vez que queremos que usar sass tenemos que hacer la instalación

npm init
npm install -D node-sass nodemon

van al json
"build-css": "node-sass --include-path scss ./scss/style.scss ./css/style.css",
"watch-css": "nodemon -e scss -x \"npm run build-css\""
 
van a la consola de nuevo y ponen
npm run watch-css

CADA VEZ QUE QUIERAN VOLVER A TRABAJAR SOBRE EL PROYECTO
LO PRIMERO QUE TENGO QUE HACER ANTES DE ESCRIBIR CÓDIGO ES => npm run watch-css
*/
/* segunda instalación
npm init
npm install -g sass
sass --watch rutaSCSS rutaCSS**/

/**partials

base: codigo a nivel general,
reset y fuentes en caso de que se trabaje de manera general

components: Pueden ir componentes especiales como las cards, navbar, bootstrap

layout: van los partials de nuestros bloques de código más grandes: header main footer y sections tambien

utilities: van los partials de variables mixins, maps y funciones
**/
/**siempre tenemos que llamar a los partials de las utilities**/

@import "./utilities/variables";
@import "./utilities/mapas";
@import "./utilities/mixins";

/*base*/
@import "./base/reset";

/**layout**/
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";

/**components**/
@import "./components/cards";

/**mediaQ*/
@import "./layout/mediasQ/media768";
@import "./layout/mediasQ/media320";