/**
cada vez que queremos que usar sass tenemos que hacer la instalación

npm init
npm install -D node-sass nodemon

van al json
"build-css": "node-sass --include-path scss ./scss/style.scss ./css/style.css",
"watch-css": "nodemon -e scss -x \"npm run build-css\""
 
van a la consola de nuevo y ponen
npm run watch-css

CADA VEZ QUE QUIERAN VOLVER A TRABAJAR SOBRE EL PROYECTO
LO PRIMERO QUE TENGO QUE HACER ANTES DE ESCRIBIR CÓDIGO ES => npm run watch-css
*/
/* segunda instalación
npm init
npm install -g sass
sass --watch rutaSCSS rutaCSS**/
/*
una variable es un espacio de memoria reservada,
la cual va a alojar un tipo de dato,
y ese dato en ESTE CASO se puede modificar
tipo de datos en formato valor; 
**/
/*variables**/
$background-color: black;
$color-fuente: yellow;

/* mapas
conjunto de propiedades iguales que podemos
agrupar dentro de una coleccion

creacion

$nombre(
    llave1:valor1,
    llave2:valor2,
);
para llamarla ponemos donde iria el valor 
map-get ($nombre, llave)
**/
$colores:(
    fondo: black,
    letras: yellow,
    hover: rgb(117, 30, 216),
    letrasSecundarias: blue
);
$fuentes:(
    titulos: 40px,
    titulosSecundarios: 36px,
);
header{
    background-color: map-get($colores, fondo);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    h1{
        font-size: 40px;
        color: map-get($colores, letras);
    }
    
}
/**corresponde a mi barra de navegacion**/   
.navbar{
        display: flex;
        list-style: none;
        font-size: 24px;
        gap: 20px;
        li{
            a{
                text-decoration: none;
                color: map-get($colores, letras);
            &:hover{
                color: map-get($colores, hover);
            }
        }
    }
}
/**partials**/
